/*********************************************************/
/*     Web del romanticismo - hoja de estilo de index    */
/*                Autor: Marco Valente                   */
/*               Version 1.0 - 3/11/2022                 */
/******************************************************   /

/******************** estilo general ******************** */
/***titulo de secciones**/
.titulo-secciones{font-family: title;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  color:darkred;
  padding: 4% 0;}

@font-face {
    font-family: texto;
    src: url('../fonts/Inter-Variable.ttf');
}

@font-face {
    font-family: title;
    src: url('../fonts/Blaka-Regular.ttf');
}

*{box-sizing: border-box;}
body{
    background-color: rgb(88,73 ,73 );
    font-family: texto;

}

#wrapper{
    background-color: white;
    width: 80%;
    margin: auto;
}

/*********************************Hero section v1*******************************************/

#hero{
    background-image: url(./../images/wanderer-above-the-sea-fog-friedrich.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 20px;
    font-family: title;
    font-size: 3.5rem;
}

#titulo{
    background-color: rgba(255,255 ,255 ,0.25);
    margin-top:20%;
    border-radius: 50%;
    color:darkred;
    width: 50%;
    margin: auto;
    padding: 20px;
    backdrop-filter: blur(5px);/*Al fondo le aplica un filtro blur*/
}

/******************************************HERO SECTION V2***************************************/

#rainVideo {
    /*position: fixed;*/
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  #titulo2 {
    /*position: fixed;*/
    position: relative;/**El titulo esta al mismo nivel que el video, no dentro del mismo**/
    top: -32vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 23vh;
    padding: 20px;
  }

  /******************************************HERO SECTION V3***************************************/

  #hero3{
    background-color: #0099ff;/*esto es un rectangulo azuk*/
    height: 40vh;
    position: relative;
  }

  #titulo3{
    position: absolute;
    top:50%;
    left: 50%;
    /*************************************Trucazo***********************************************/
    transform:translate(-50%,-50%);
    /***********************************Fin Trucazo*********************************************/
    font-size:4rem;
    font-family: title;
    color:white;
    font-weight: bold;

  }
    /******************************************HERO SECTION V3***************************************/
  /******************************************HERO SECTION V4 con imagen de HAIKEY***************************************/

#hero4{
    background-image: url('../images/low-poly-grid-haikei.svg');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;

}

#titulo4{
    font-size:3rem;
    font-weight: bold;
    backdrop-filter:blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
}
  /******************************************HERO SECTION V4 con imagen de HAIKEY***************************************/


  /***************************************Introduccion******************************************************/


  /***************************************Sección ideas******************************************************/
#ideas{background-color: #f1f1f1;}
  /***Contenedor grid****/
.grid2{display: grid;
        grid-template-columns: auto auto ;}

        /**Que corra el aire (ver el box-sizing arriba)**/
.texto{
  padding: 20px;
}
/**Selector combinado (img DENTRO de .col2)**/
.col2 img{width: 100%;}

/*******************Sección autores************************/
.grid4{display: grid;
  grid-template-columns: auto auto auto auto ;}
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .description {
    padding: 2px 16px;
    text-align: center;
  }
/***************************************Media Query******************************************************/
@media only screen and (width<=1000px) {
    #wrapper{width: 100%;
            font-size: 2rem;
    }
    .grid2{grid-template-columns: 100%;}
    .grid4{grid-template-columns: 50% 50%;}

}
@media only screen and (width<=600px) {
    #titulo{width: 80%;
            font-size: 2.5rem;
    }
    .grid4{grid-template-columns: 100%}
}